* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: azure;
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    border-bottom: solid 1px rgb(145, 165, 165);
    border-top: solid 2px rgb(145, 165, 165);
    align-items: center;
}

header p {
    font-size: 22px;
    padding: 20px;
}

aside {
    right: 0;
    width: 100px;
    height: 100%;
    position: absolute;
    display: flex;
}

.menu {
    display: flexbox;
    width: 100%;
}

.menu li {
    border-left: 1px solid red;
    margin-top: 15px;
}

.menu li a {
    font-size: 25px;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 5px;
}

.menu li:active {
    color: rgb(121, 126, 126);
    background-color: rgb(148, 81, 81);
}

.menu li a:hover {
    color: brown;
}

#incio {
    background-color: rgb(201, 201, 201);
    border-bottom: 1px solid black;
}

h1 {
    margin-top: 50px;
    padding: 10px;
    color: rgb(15, 15, 15);
}

.conteudo {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: solid 1px rgb(145, 165, 165);
    border-radius: 10px;
    display: flexbox;
    margin: 50px;
}

.conteudo h2{
    margin-bottom: 7px;
}

.conteudo article{
    text-justify: newspaper;
    margin-bottom: 7px;
}
